.central-text {
    text-align: center;
}

.name, .position {
    text-transform: uppercase;
}

.name {
    letter-spacing: 0.2rem;
}

.position {
    letter-spacing: 0.4rem;
}

.photo {
    border-radius: 50%;
    width: 10rem;
    height: auto;
}

.links li {
    font-size: 4rem;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-icon {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 1rem;
}

.email.expanded .email-icon {
    cursor: default;
}

.email-icon:hover {
    color: #b5b5b5;
}

.email-text {
    letter-spacing: 0.1rem;
}

.hero.is-fullheight {
    padding-bottom: 10vh;
}